<a href="https://colab.research.google.com/github/juliojesus15/SankeyDiagramMapping/blob/main/MappingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Utils**

In [1]:
import json

def intersectArrays(array1, array2):
  output = set(array1) & set(array2)
  output = list(output)
  found = True if len(output) > 0 else False
  return found, output

def save_dict_to_json(filename, data):
  with open(filename, "w") as archivo:
    json.dump(data, archivo)  
  output = json.dumps(data)

def read_json(filename):
  with open(filename, "r") as archivo:
    datos_json = json.load(archivo)
  return datos_json

In [3]:
a = {'6f4005fb-f844-457a-838e-0f33ddb82c2f': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, '8e7c7ae4-5e46-4f51-814e-8e9b2d348507': {'roadmap': [1, 2, 3, 4, 4, 5, 6, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, 'a14e1a50-2838-4d86-9f71-46e90cd16710': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, '5bf4e1b9-5322-4db4-b2d9-861ff1b8effa': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, 'c8777913-e059-45fb-acef-4dcb1a7060f0': {'roadmap': [1, 1, 2, 2, 2, 3, 3, 3, 3, 3], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, 'e013ef3a-db3e-4127-a03d-1a8e206ded36': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, 'a5907af9-37ae-4a88-92e5-2dc2bb68ce55': {'roadmap': [1, 2, 2, 3, 4, 5, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01']}, '35502942-ed1f-4e57-9aae-1a82f470182b': {'roadmap': [1, 2, 2, 2, 3, 3, 3, 4, 4, 4], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, '4fe159df-b897-44bc-93d7-996816ae6e09': {'roadmap': [1, 1, 2, 3, 4, 5, 6, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, '0efa1193-d981-4041-8f61-2bcdd9bbaaf3': {'roadmap': [1, 2, 3, 4, 4, 5, 5, 5, 5, 5], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, '60b567bd-0922-4e3c-b1c1-293d5f7d3968': {'roadmap': [1, 1, 2, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02']}}
b = {'6f4005fb-f844-457a-838e-0f33ddb82c2f': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, '8e7c7ae4-5e46-4f51-814e-8e9b2d348507': {'roadmap': [1, 2, 3, 4, 4, 5, 6, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, 'a14e1a50-2838-4d86-9f71-46e90cd16710': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, '5bf4e1b9-5322-4db4-b2d9-861ff1b8effa': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, 'c8777913-e059-45fb-acef-4dcb1a7060f0': {'roadmap': [1, 1, 2, 2, 2, 3, 3, 3, 3, 3], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, 'e013ef3a-db3e-4127-a03d-1a8e206ded36': {'roadmap': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02', '2020-01']}, 'a5907af9-37ae-4a88-92e5-2dc2bb68ce55': {'roadmap': [1, 2, 2, 3, 4, 5, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01']}, '35502942-ed1f-4e57-9aae-1a82f470182b': {'roadmap': [1, 2, 2, 2, 3, 3, 3, 4, 4, 4], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, '4fe159df-b897-44bc-93d7-996816ae6e09': {'roadmap': [1, 1, 2, 3, 4, 5, 6, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02']}, '0efa1193-d981-4041-8f61-2bcdd9bbaaf3': {'roadmap': [1, 2, 3, 4, 4, 5, 5, 5, 5, 5], 'times': ['2015-01', '2015-02', '2016-01', '2016-02', '2017-01', '2017-02', '2018-01', '2018-02', '2019-01', '2019-02']}, '60b567bd-0922-4e3c-b1c1-293d5f7d3968': {'roadmap': [1, 1, 2, 0], 'times': ['2015-01', '2015-02', '2016-01', '2016-02']}}

test = {'a': a, "b": b }

for key in test:
  filename = "drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/raw/roadmap/" + key + ".json"
  data = test[ key ]  
  save_dict_to_json(filename, data)

# **Dataset**

In [4]:
import pandas as pd
import numpy as np 

# loading datasets
students = pd.read_csv("drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/students.csv")
history = pd.read_csv("drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/semesters.csv")

In [5]:
students.head(3)

,student_id,enrollment,name,lastname,gender,career,current_semester,dropout
0,6f4005fb-f844-457a-838e-0f33ddb82c2f,2015-01,Sincere,Kshlerin,female,Computer Science,7,True
1,0effca9d-78c1-477b-a7a5-8cee3d9cf617,2015-02,Seamus,Corwin,male,Civil,6,False
2,444e2e7c-7837-4a46-822e-0b2bb066ef54,2012-01,Jude,Moen,male,Computer Science,10,False

In [6]:
history.head(3)

  timelapse                            student_id  semester
0   2015-01  6f4005fb-f844-457a-838e-0f33ddb82c2f         1
1   2015-02  6f4005fb-f844-457a-838e-0f33ddb82c2f         2
2   2016-01  6f4005fb-f844-457a-838e-0f33ddb82c2f         3

In [7]:
dataset = pd.merge(students, history, on='student_id')
dataset.head(3)

,student_id,enrollment,name,lastname,gender,career,current_semester,dropout,timelapse,semester
0,6f4005fb-f844-457a-838e-0f33ddb82c2f,2015-01,Sincere,Kshlerin,female,Computer Science,7,True,2015-01,1
1,6f4005fb-f844-457a-838e-0f33ddb82c2f,2015-01,Sincere,Kshlerin,female,Computer Science,7,True,2015-02,2
2,6f4005fb-f844-457a-838e-0f33ddb82c2f,2015-01,Sincere,Kshlerin,female,Computer Science,7,True,2016-01,3

# **Mapping Data**

In [46]:
import numpy as np

def create_roadmap_container(dataframe):
  container = {}

  for register in dataframe.index:
    student_id = dataframe["student_id"][ register ]  
    enrollment = dataframe["enrollment"][ register ]

    if enrollment in container:
      if not (student_id in container[ enrollment ]):
        container[ enrollment ] = {
          **container[ enrollment ], 
          #student_id: { "roadmap": [], "times":[] }
          student_id: []
        }
    else:
      container[ enrollment ] = { 
        #student_id: { "roadmap": [], "times":[] } 
        student_id: []
      }
  return container    

def student_roadmap_mapping(dataframe, container):
  for register in dataframe.index:
    time = dataframe["timelapse"][ register ]
    studentId = dataframe["student_id"][ register ]    
    semester = dataframe["semester"][ register ]    
    enrollment = dataframe["enrollment"][ register ]    

    #container[ enrollment ][ studentId ]["roadmap"].append(semester)
    #container[ enrollment ][ studentId ]["times"].append(time)
    roadmap = (str(semester) + "N" )if len(container[ enrollment ][ studentId ]) == 0 else str(semester) 
    container[ enrollment ][ studentId ].append({ "roadmap": roadmap, "time": time })
  
  return container

def create_container(keys):
  container = {}
  # Adding each enrollment time as a key
  for key in keys:
    container[ key ] = {}
  return container

def student_mapping(dataframe, container):
  for register in dataframe.index:
    id = dataframe["timelapse"][ register ]
    enrollment = dataframe["enrollment"][ register ]
    studentId = dataframe["student_id"][ register ]
    semester = dataframe["semester"][ register ]    

    # Checking if it is the first enrollment (N = new)
    key = str(semester) + "N" if id == enrollment else str(semester)

    student = {
      "id": studentId, 
      "name": dataframe["name"][ register ], 
      "lastname":dataframe["lastname"][ register ], 
      "gender": dataframe["gender"][ register ],
      "enrollment": enrollment
    }

    if key in container[ id ] :
      container[ id ][ key ]['student_ids'].append( studentId )      
      container[ id ][ key ]['students'] = { 
        **container[ id ][ key ]['students'], 
        studentId: student 
      }
    else:
      container[ id ] = { 
        **container[ id ],
        key: { 
          "semester_id": key, 
          "student_ids": [ studentId ], 
          "students": { studentId: student } 
        } 
      } 
  return container

# **Constants**

In [40]:
sem_roadmap = {
  '0':  [],
  '1N': ['1','2','0'],
  '1':  ['1','2','0'],
  '2':  ['2','3','0'],
  '3':  ['3','4','0'],
  '4':  ['4','5','0'],
  '5':  ['5','6','0'],
  '6':  ['6','7','0'],
  '7':  ['7','8','0'],
  '8':  ['8','9','0'],
  '9':  ['9','10','0'],
  '10': ['10','0','11'],
  '11': []
}

sem_properties = {
    "1N" : { "name": "1er sem.", "color": "#007C00"},
    "1"  : { "name": "1 sem.", "color": "#08008B"},
    "2"  : { "name": "2 sem.", "color": "#08008B"},
    "3"  : { "name": "3 sem.", "color": "#08008B"},
    "4"  : { "name": "4 sem.", "color": "#08008B"},
    "5"  : { "name": "5 sem.", "color": "#08008B"},
    "6"  : { "name": "6 sem.", "color": "#08008B"},
    "7"  : { "name": "7 sem.", "color": "#08008B"},
    "8"  : { "name": "8 sem.", "color": "#08008B"},
    "9"  : { "name": "9 sem.", "color": "#08008B"},
    "10" : { "name": "10 sem.", "color": "#08008B"},
    "11" : { "name": "Grad.", "color": "#00FF00"},
    "0"  : { "name": "Drop.", "color": "#D60000"}
}

# **Layout Sankey Diagram**

In [41]:
# set a especific timelapse (exmaple: 2010-01), a dict (nodes) to storage all nodes, and container with all data
def generate_nodes_by_timeId(timeId, nodes, container):
  # Check if timelapse exist in our dict, else create a timelapse as key
  if not (timeId in nodes):
    nodes = { **nodes, timeId: [] }
  
  semesters = container[ timeId ]

  for semester in semesters:
    nodeId = semester + "-" + timeId
    nodes[ timeId ].append({
      'nodeId': nodeId, 
      'name':   sem_properties[ semester ]["name"], 
      'color':  sem_properties[ semester ]["color"], 
      'x':      0
    })
  
  return nodes

def generate_link_between_timesId(time_begin, time_end, links, container):
  link_key = time_begin + "_" + time_end
  
  if not (link_key in links):
    links = { **links, link_key: [] }

  source = container[ time_begin ]
  target = container[ time_end ]

  for key in source:
    neighborhood = sem_roadmap[ key ]

    # Checking each neighbor for each node
    for neighbor in neighborhood:
      check_neighbor = True if neighbor in target else False
      if check_neighbor:
        found, outputs = intersectArrays(source[ key ]['student_ids'], target[ neighbor ]['student_ids'])
        if found:
          tmp_students = [] 
          for output in outputs:
            tmp_student = container[ time_begin ][ key ]['students'][ output ]
            tmp_students.append(tmp_student)
          sourceId = key + "-" + time_begin
          targetId = neighbor + "-" + time_end

          # getting the percentage for each link
          value =  round((len(outputs)*100)/len(source[ key ]['student_ids']), 2)
 
          links[ link_key ].append({ "source": sourceId, "target": targetId, "value": value, "students": tmp_students  })
  return links

# **Main**

In [42]:
timelapse_ids = dataset.timelapse.unique()
timelapse_ids = np.array(timelapse_ids)
timelapse_ids.sort()

#timelapse_ids

In [48]:
CONTAINER = create_container(timelapse_ids)
CONTAINER = student_mapping(dataset, CONTAINER)

CONTAINER_ROADMAP = create_roadmap_container(students)
CONTAINER_ROADMAP = student_roadmap_mapping(dataset, CONTAINER_ROADMAP)

#CONTAINER_ROADMAP

In [ ]:
#print(type(CONTAINER))
for register in CONTAINER:
  filename = "drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/raw/container/" + register + ".json"
  data = CONTAINER[ register ]  
  #print(type(data))
  #save_dict_to_json(filename, data)

In [49]:
#print(type(CONTAINER_ROADMAP))
for register in CONTAINER_ROADMAP:
  #print(register)
  filename = "drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/raw/roadmap/" + register + ".json"
  data = CONTAINER_ROADMAP[ register ]      
  #save_dict_to_json(filename, data)

In [50]:
CONTAINER_LINKS = {}

for index in range(0, len(timelapse_ids) -1):
  begin = timelapse_ids[ index ]
  end = timelapse_ids[ index + 1 ]
  CONTAINER_LINKS = generate_link_between_timesId(begin, end, CONTAINER_LINKS, CONTAINER)

#save_dict_to_json("links.json", CONTAINER_LINKS)

In [51]:
for register in CONTAINER_LINKS:
  #print(register)
  filename = "drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/raw/links/" + register + ".json"
  data = CONTAINER_LINKS[ register ]      
  #save_dict_to_json(filename, data)

In [52]:
CONTAINER_NODES = {}

for time in timelapse_ids:
  CONTAINER_NODES = generate_nodes_by_timeId(time , CONTAINER_NODES, CONTAINER)

#save_dict_to_json("nodes.json", CONTAINER_NODES)

In [53]:
for register in CONTAINER_NODES:
  #print(register)
  filename = "drive/MyDrive/UCSP/Colab/DataToSankeyDiagram/dataset/raw/nodes/" + register + ".json"
  data = CONTAINER_NODES[ register ]      
  #save_dict_to_json(filename, data)